<div class="loading-container">
  <div class="loading">
    <div class="outer">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="inner">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <p class="welcome">LOADING MINDBEND 2023</p>
</div>
