<nav class="<%= appear %>">
  <div class="navbar">
    <div class="left-nav">
      <a id="logo" href="/">
        <img src="/images/extras/mindband-logo.png" alt="mindband-logo" />
      </a>
    </div>

    <a id="mindbend" href="/">MINDBEND</a>
    <div class="right-nav">
      <a href="/" title="HOME">HOME</a>
      <a href="/events" title="EVENTS">EVENTS</a>
      <a href="/workshops" title="WORKSHOPS">WORKSHOPS</a>
      <a href="/expos" title="EXPOS">EXPO</a>
      <a href="/camAmb" title="CAMPUS AMBASSADOR">CA</a>
      <a href="/team" title="TEAM">TEAM</a>
      <a href="/guest" title="GUEST">GUEST</a>
      <a href="/sponsors" title="SPONSORS">SPONSORS</a>
    </div>
    
    <div class="mini-nav">
      <a id="home" href="/">HOME</a>
      <a id="events" href="/events">EVENTS</a>
      <a id="workshops" href="/workshops">WORKSHOPS</a>
      <a id="expos" href="/expos">EXPO</a>
      <a id="campamb" href="/camAmb"> CAMPUS <br/> AMBASSADOR</a>
      <a id="team" href="/team">TEAM</a>
      <a id="guest" href="/guest">GUEST</a> 
      <a id="sponsors" href="/sponsors">SPONSORS</a>
    </div>
    <div class="burger">
      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z"
          fill-rule="nonzero"
        />
      </svg>
    </div>
  </div>
</nav>
