<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
    <div class="registration-form-container form-dissappear">
        <div class="mbimg-container">
          <img src="/images/mbLogo.png" alt="" />
        </div>
        
        <div class="registration-form">
          <div title="CLose Form" class="close-button" onclick="form_toggle();">
            <svg
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"
              />
            </svg>
          </div>
          
          <form action="/payment" method="post" enctype="multipart/form-data" class="payment-form">
            
            <div class="left">
                <div class="input-container">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" id="" required  placeholder="Enter the registered email"/>
                </div>
                  
                <div class="input-container">
                    <label for="phoneNo">Phone</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Enter the registered number" required />
                  
                <div class="input-container">
                    <label for="phoneNo">Upload Payment Screenshot</label>
                    <input type="file" name="file" id="file" required>
                </div>
            </div>

            <div class="right">
                <img class="qr-code" src="/images/payment/qr-code.png" alt="QR Code Not Found" srcset="" >
              </div>
              <input type="submit" name="Submit" id="submit" />

          </form>

        </div>
      </div>
</body>
</html>

<script>

</script>