@media screen and (max-width: 1400px) {
  .left-nav,
  .right-nav,
  #logo {
    width: auto;
  }
}
@media screen and (max-width: 1000px) {
  .burger {
    display: flex;
    margin: 1rem 2rem;
  }

  .navbar {
    justify-content: center;
  }

  #mindbend {
    width: auto;
  }
  .left-nav {
    position: absolute;
    left: 0;
  }
  .right-nav {
    display: none;
  }
  .workshop-main {
    flex-wrap: wrap;
    padding: 0.5rem;
    padding-bottom: 15rem;
    flex-direction: column;
    justify-content: center;
  }

  .workshop-main .details {
    width: 25rem;
  }
  .workshop-main .img-container {
    margin: 2rem auto;
  }
  .workshop-main .details {
    margin: 2rem auto;
  }
  .workshop-main .details .register {
    position: relative;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 860px) {
  #planes {
    left: -13%;
  }
  #plane {
    scale: 1.5;
    transform: translateX(-10%);
  }
  #fg {
    scale: 0.8;
    top: 20%;
    overflow: auto;
    width: auto;
  }
  #about {
    transform: translateY(10rem);
  }
  .box .content {
    padding: 3rem 1rem 1rem 1rem;
  }
  .heading,
  .heading p {
    font-size: 3rem;
  }
  .submarine-back {
    top: calc(170rem - 50vw);
    height: calc(100rem - 20vw);
  }

  #snow-mountain {
    height: 50vw;
    width: auto;
  }
  .ca-container {
    width: 95vw;
  }
  .ca-desc {
    padding: 1rem;
  }

  .cover {
    background-size: auto !important;
  }

  .events-container {
    padding: 2rem;
  }

  #event_container {
    width: auto;
    padding: 1.2rem;
  }

  .sub-container-1 {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .sub-container-1 .about {
    margin: 3rem 0;
    width: 100%;
  }

  .sub-container-1 .img-container {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }

  .sub-container-2 {
    min-height: 35rem;
    margin: 1rem;
    margin-right: 2.3rem;
  }

  .sub-container-2 input[type="radio"] + label .content {
    padding: 1rem;
    padding-left: 2rem;
    text-align: justify;
  }

  .mbimg-container {
    height: 7rem;
    width: 7rem;
  }
  .registration-form {
    margin-top: -3.5rem;
    padding: 1rem;
    padding-top: 4.5rem;
  }
  .left-form,
  .right-form {
    align-items: center;
  }

  .input-container,
  .svnitian {
    margin: 0.5rem;
  }
  .input-container label,
  .svnitian label,
  .is-svnitian label {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"] {
    width: 13rem;
  }
}

@media screen and (max-width: 768px) {
  #main-bg {
    transform: translate(0);
  }

  #tank {
    transform: scale(1.5);
  }
  #missiles-launcher {
    transform: scale(2);
  }
  .box .content p {
    font-size: 1rem;
  }
  #box-1 {
    top: calc(23rem - 10vw);
  }
  #box-2 {
    top: calc(85rem - 10vw);
  }

  .list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #submarine {
    top: 50%;
  }
  #fg {
    transform: translateX(-25%);
  }
  #mindbend {
    font-size: 1.5rem;
  }
  #logo img {
    margin: 0;
    scale: 0.8;
  }
  footer {
    flex-direction: column;
  }
  footer div {
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .content .contacts {
    flex-direction: column;
    align-items: center;
  }

  .workshop-main .img-container {
    width: 80vw;
    height: 80vw;
  }

  .workshop-main .details {
    width: 80vw;
  }
}
